<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="../js//vue.js"></script>

</head>

<body>
    <div id="root">
        <input type="text" v-model="keyworld" placeholder="keyworld">
        <button @click="sortType = 1">升序</button>
        <button @click="sortType = 2">降序</button>
        <button @click="sortType = 0">原序</button>
        <!-- 数组渲染 -->
        <ul>
            <li v-for="(a,b) in newArr" :key="a.id">
                {{a}}----{{b}}
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: "#root",
            data() {
                return {
                    keyworld: '',
                    sortType: 0,
                    arr: [
                        {
                            id: "001",
                            name: "马冬梅",
                            age: 21,
                            sex: "女"
                        },
                        {
                            id: "002",
                            name: "周冬雨",
                            age: 20,
                            sex: "女"
                        },
                        {
                            id: "003",
                            name: "周杰伦",
                            age: 22,
                            sex: "男"
                        },
                        {
                            id: "004",
                            name: "温兆伦",
                            age: 19,
                            sex: "男"
                        },
                        {
                            id: "005",
                            name: "不相关",
                            age: 21,
                            sex: "男"
                        }
                    ],
                }
            },
            computed: {
                newArr() {
                    let a = this.arr.filter((p) => {
                        return p.name.indexOf(this.keyworld) !== -1
                    })
                    if (this.sortType) {
                        a.sort((a, b) => {
                            return this.sortType === 1 ? a.age - b.age : b.age - a.age
                        })
                    }
                    return a
                }
            }
            // watch:{
            //     keyworld:{
            //         immediate:true,
            //         handler(val){
            //             console.log(val);
            //             this.newArr = this.arr.filter((p)=>{
            //                 return p.name.indexOf(val) !== -1
            //             })
            //         }
            //     }
            // }
        })
    </script>
</body>

</html>